Legacy/

# Prerequisites
*.d
*.idea
# binary files
*.sms
*.dwg
*.dfs2
*.dfs1
*.dfs0
*.dfsu
*.nc
*.npy
*.rar
*.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# results
*.bak
*.xlsx
*sms
sms
*output
output
*log
pom2k_matlab-master.7z
理想风驱动.pptx
*.pyc
204_paper_TUC-2023_Travert_Jean_Paul.pdf
Case4.0 - Tide/DATA/tpxo8_atlas/grid_tpxo8atlas_30_v1
Case4.0 - Tide/DATA/tpxo8_atlas/hf.tpxo8_atlas_30_v1
Case4.0 - Tide/DATA/tpxo8_atlas/Model_atlas_v1
/Case4.0 - Tide/DATA
